body{
    margin: 0; padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
*{
    padding: 0; margin: 0;
}
/*form*/

legend{
    padding: 0 6px;
    text-transform: capitalize;
}
.form-insert{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}






label {
    display: block;
}

input,
label {
    margin: .4rem 0;
}
input{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
}
input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

select{
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgba(234, 234, 234, 0.37);*/
    padding: 20px;
}
.form-content{
    width: 40%;
    margin: 0 5px;
}

/*input search*/

input[type='search']{
    width: 400px;
    display: inline-block;
}
input[type='search']+button{
    cursor: pointer;
    background-color: #005EFF;
    color: #fff;
    padding: 10px 16px;
    width: 250px;border: 1px solid #ced4da;
    border-radius: 0.375rem;
    font-size: 16px;
    transition: 0.5 all ease-in-out;
    margin-top: 20px;
}
.form-search{
    display: block;
    margin: 40px auto;
    text-align: center;
}
/* alert */
.danger,
.success{
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}
.danger{
    background: rgb(218, 31, 31);
}
.success{
    background: rgb(31, 240, 12);
}


/*menu*/
a{
    text-decoration: none;
    color: #302f2f;
}
.menu{
    text-align: justify;
}
.menu-item{
    padding: 20px 30px;
    transition: 0.3s all ease-in-out;
}
.menu-item:hover{
    background-color: rgba(48, 110, 218, 0.858);
}

.menu-content{
    padding: 20px 30px;
    background-color: #005EFF;
    text-align: center;
}
.menu-content a{
    text-transform: capitalize;
    color: #fff;
}
.inner{
    position: relative;
}
.menu-user{
    position: absolute;
    right: 0;
}
.menu-user span{
    
    border: 1px solid #ced4da;
    padding: 5px 10px;
    background: #f3f3f3;
    border-radius: 0.375rem;
}

/*tableau */
table{
    margin: 50px auto;
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgb(0, 0, 0, 0.15);
    border: 1px solid #ddd;
}

thead tr{
    background: #005EFF;
    color: #fff;
    text-align: left;
    text-transform: capitalize;
}
th, td{
    padding: 15px 20px;
}
td a{
    color: #005EFF;
}
tbody tr, td, th{
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
tbody tr:last-of-type{
    border-bottom: 2px solid #005EFF;
}


/* liste client*/

.client{
    margin: 20px 0;
}
input[name='nomc']{
    width: 250px;
}
.box button{
    cursor: pointer;
    background-color: #005EFF;
    color: #fff;
    padding: 8px 16px;
    width: 250px;border: 1px solid #ced4da;
    border-radius: 0.375rem;
    font-size: 16px;
    transition: 0.5 all ease-in-out;
    margin-top: 20px;
}
.box button:focus{
    background-color: hsla(218, 100%, 50%, 0.374);
}
.box{
    display: flex;
    justify-content: space-between;
}
.box form{
    margin-right: 100px;
    margin-top: 100px;
}


/*previous and next*/

.previous, .next{
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 0 10px;
    border-radius: 0.375rem;
    background-color: #005EFF;
    color: #fff;
}

/*add*/

.add{
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 40px 15px;
    border-radius: 0.375rem;
    background-color: #005EFF;
    color: #fff;
}
.p{
    text-align: center;
}
.rap{
    text-align: right;
}
.rap a{
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 40px 15px;
    border-radius: 0.375rem;
    background-color: #005EFF;
    color: #fff;
}
/*footer*/

footer{
    float: none;
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: #121417;
    color: #B4B4B4;
    text-transform: uppercase;
    bottom: 0
}